{% extends "base.html" %}

{% load static %}

{% block content %}
        <!-- Page Contents -->
    <div class="pusher">
        <div class="ui  inverted vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui secondary pointing inverted menu">
              <a class="toc item">
                  <i class="sidebar icon"></i>
              </a>
              <a class="active item">Home</a>
              <a class="item">LifeNotes</a>
              <a class="item">Statistic</a>
              <a class="item">About</a>
              <div class="right menu">
                  <a class="ui item">
                      <i class="sign in icon"></i>Login
                  </a>
                  <a class="ui item">
                      <i class="add user icon"></i>Sign up
                  </a>
              </div>
          </div>
        </div>

        <div class="ui text container">
          <h1 class="ui inverted header">
            Cherish and save time to do something valuable!
          </h1>
          <h2>Just move on once make resolutions</h2>
          <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>

      </div>

        <div class="ui stripe community vertical segment">
            <div class="ui two column very relaxed stackable grid container">
                    <div class="column">
                        <div class="ui raised segment">
                            <a class="ui red ribbon label">Overview</a>
                            <span>Account detials</span>

                            {% for post in post_list %}
                                <section class="post">
                                    <header class="post-header">
                                        <h2 class="post-title"><a
                                                href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>

                                        <p class="post-meta">
                                            Time: <a class="post-author"
                                                     href="#">{{ post.date_time |date:"Y /m /d" }}</a> <a
                                                class="post-category post-category-js" href="#">{{ post.category }}</a>
                                        </p>
                                    </header>

                                    <div class="post-description">
                                        <p>
                                            {{ post.content }}
                                        </p>
                                    </div>
                                    <a class="pure-button" href="{% url "detail" id=post.id %}">Read More >>> </a>
                                </section>
                            {% endfor %}

                            <p>
                                Today is a very nice day, and it's the 100th days that i sticked to myself,
                                What I feel most wonderful thing is that i can get up early without any alarm bell.
                                and I can get it clearly of the new chapter of "Harry Potter" when I listened in 1st time.
                                and I've been learning the python/html/css/js for more than 3 months, even though can do a
                                very little
                                thing, but I'm now on the way.
                            </p>
                        </div>
                         <div class="ui raised segment">
                            <a class="ui blue ribbon label">Community</a>
                            <span>User reviews</span>
                            <p>
                                Today is a very nice day, and it's the 100th days that i sticked to myself,
                                What I feel most wonderful thing is that i can get up early without any alarm bell.
                                and I can get it clearly of the new chapter of "Harry Potter" when I listened in 1st time.
                                and I've been learning the python/html/css/js for more than 3 months, even though can do a
                                very little
                                thing, but I'm now on the way.
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui raised segment">
                            <a class="ui red ribbon label">Overview</a>
                            <span>Account detials</span>
                            <p>
                                Today is a very nice day, and it's the 100th days that i sticked to myself,
                                What I feel most wonderful thing is that i can get up early without any alarm bell.
                                and I can get it clearly of the new chapter of "Harry Potter" when I listened in 1st time.
                                and I've been learning the python/html/css/js for more than 3 months, even though can do a
                                very little
                                thing, but I'm now on the way.
                            </p>
                        </div>
                         <div class="ui raised segment">
                            <a class="ui blue ribbon label">Community</a>
                            <span>User reviews</span>
                            <p>
                                Today is a very nice day, and it's the 100th days that i sticked to myself,
                                What I feel most wonderful thing is that i can get up early without any alarm bell.
                                and I can get it clearly of the new chapter of "Harry Potter" when I listened in 1st time.
                                and I've been learning the python/html/css/js for more than 3 months, even though can do a
                                very little
                                thing, but I'm now on the way.
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui raised segment">
                            <a class="ui red ribbon label">Overview</a>
                            <span>Account detials</span>
                            <p>
                                Today is a very nice day, and it's the 100th days that i sticked to myself,
                                What I feel most wonderful thing is that i can get up early without any alarm bell.
                                and I can get it clearly of the new chapter of "Harry Potter" when I listened in 1st time.
                                and I've been learning the python/html/css/js for more than 3 months, even though can do a
                                very little
                                thing, but I'm now on the way.
                            </p>
                        </div>
                         <div class="ui raised segment">
                            <a class="ui blue ribbon label">Community</a>
                            <span>User reviews</span>
                            <p>
                                Today is a very nice day, and it's the 100th days that i sticked to myself,
                                What I feel most wonderful thing is that i can get up early without any alarm bell.
                                and I can get it clearly of the new chapter of "Harry Potter" when I listened in 1st time.
                                and I've been learning the python/html/css/js for more than 3 months, even though can do a
                                very little
                                thing, but I'm now on the way.
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui raised segment">
                            <a class="ui red ribbon label">Overview</a>
                            <span>Account detials</span>
                            <p>
                                Today is a very nice day, and it's the 100th days that i sticked to myself,
                                What I feel most wonderful thing is that i can get up early without any alarm bell.
                                and I can get it clearly of the new chapter of "Harry Potter" when I listened in 1st time.
                                and I've been learning the python/html/css/js for more than 3 months, even though can do a
                                very little
                                thing, but I'm now on the way.
                            </p>
                        </div>
                         <div class="ui raised segment">
                            <a class="ui blue ribbon label">Community</a>
                            <span>User reviews</span>
                            <p>
                                Today is a very nice day, and it's the 100th days that i sticked to myself,
                                What I feel most wonderful thing is that i can get up early without any alarm bell.
                                and I can get it clearly of the new chapter of "Harry Potter" when I listened in 1st time.
                                and I've been learning the python/html/css/js for more than 3 months, even though can do a
                                very little
                                thing, but I'm now on the way.
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}